doctype html
html(lang="en")
  head
    title API - Documentation
    script(type='text/javascript').
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body
    .container
      .jumbotron
        h1 API - Documentation
          h3 An overview of the availlable REST endpoints:
      case body
        when 'api'
          include ./apidoc.pug
        when 'endpoint'
          include ./endpointdoc.pug